# =========================
# Node / NPM
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Angular
# =========================
dist/
.angular/
*.tsbuildinfo

# =========================
# IDEs
# =========================
.vscode/
!.vscode/extensions.json

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
